{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/panier.css') }}">
{% endblock %}

{% block header %}
    <h1>Mon Panier</h1>
{% endblock %}
{% block body %}
    <div class="container-panier">
        <h1>Mon Panier</h1>

        {% if produits is empty %}
            <p>Votre panier est vide.</p>
        {% else %}
            <table class="table-panier">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in produits %}
                        <tr>
                            <td>
                                <img src="{{ asset(item.produit.getFirstImage()) }}" alt="{{ item.produit.nomProduit }}">
                                <p>{{ item.produit.nomProduit }}</p>
                            </td>
                            <td>
                                <button class="btn-modify" onclick="updateQuantity('{{ path('app_panier_update', {'id': item.produit.id, 'action': 'decrease'}) }}')">-</button>
                                <input type="number" name="quantites[{{ item.produit.id }}]" value="{{ item.quantite }}" class="input-quantite" min="1">
                                <button class="btn-modify" onclick="updateQuantity('{{ path('app_panier_update', {'id': item.produit.id, 'action': 'increase'}) }}')">+</button>
                            </td>
                            <td>{{ item.produit.prix }} €</td>
                            <td>{{ item.produit.prix * item.quantite }} €</td>
                            <td>
                                <a href="{{ path('app_panier_remove', {'id': item.produit.id}) }}" class="btn-supprimer">X</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="total-panier">
                <p><strong>Total du panier : </strong>{{ total }} €</p>
            </div>

            <div class="bottom-buttons">
                <a href="{{ path('app_dashboard') }}" class="btn-continuer">Continuer les achats</a>
                <a href="#" class="btn-payer">Passer à la caisse</a>
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}
